body,
html {
    font-family: "Montserrat", sans-serif;
}

.form-check {
    display: flex;
    align-items: center;
}

label {
    margin-top: 2.5px;
    margin-left: 7.5px;
    color: #fff;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    padding: 40px;
    background-color: #769fb6;
}

.success {
    border: 2px solid limegreen;
}

.error {
    border: 2px solid crimson;
}
